@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Playfair+Display:ital,wght@1,500&display=swap');
body{
    background-color: #b99292;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url(./img/OIP\ \(1\).jpg);
}
h1{
    font-size: 80px;
    color: white;
    font-family: 'Dancing Script', cursive;
}
p{
    text-align: justify;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.grid-container{
    display: grid;
    grid-template-rows: 260px auto 100px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
.header{
    grid-area: header;
    text-align: center;
    height: 220px;
    font-family: serif;
    color: #fff;
    padding: 10px 0px;
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer{
    grid-area: footer;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

img{
    width: 100%;
    border-radius: 10px;
}
.item1{
    background-color: #b51c1c;
    color: white;
}
.item2{
    background-color: yellow;
   
}
.item3{
    background-color: blue;
    color: white;
}
.item4{
    background-color: green;
}
.item1,.item2,.item3,.item4{
    text-align: center;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 200px;
    margin: 5px;
}
@media screen and (max-width: 768px) {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
    h1{
        font-size: 70px;
    }
  }
